.row-header {
  margin: 0 auto;
  padding: 0 auto;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  background: #9575CD;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}